<div id="home" class="row pt-2 pb-1 justify-content-center">

    <div class="card ms-3 mb-3" style="width: 18rem;" *ngFor="let obj of cars; let carIdx = index">
        <div class="wrap">

            <a routerLink="/car-details/{{obj._id}}"></a>

            <div id="{{'carCarousel' + carIdx}}" class="carousel slide pt-2" data-bs-interval="false" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let carImg of obj.images; let imgIdx = index" [class.carousel-item]='true' [class.active]='imgIdx===0'>
                        <img class="d-block w-100 rounded" [src]=carImg.src>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" attr.data-bs-target="#carCarousel{{carIdx}}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" attr.data-bs-target="#carCarousel{{carIdx}}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{obj.make}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{obj.model}}</h6>
                <h6>Price: R$ {{obj.price}}</h6>
                <h6>Km: {{obj.km}}</h6>
                <h6>Year: {{obj.year}}</h6>
            </div>
        
        </div>
    </div>
</div>