<div id="login" class="row pt-4 justify-content-center">
    <div class="col-6">
        <form #login="ngForm" [formGroup]="loginForm" *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" 
                        name="username"
                        class="form-control"
                        formControlName="username"
                        required />
                <div class="alert alert-danger"
                    *ngIf="(loginForm.get('username')?.errors?.required  ||
                            loginForm.get('username')?.errors?.minlength ||
                            loginForm.get('username')?.errors?.maxlength) &&
                           (loginForm.get('username')?.touched || login.submitted)">
                    Username field is mandatory!
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    class="form-control"
                    formControlName="password"
                    required />
                <div class="alert alert-danger"
                     *ngIf="(loginForm.get('password')?.errors?.required) &&
                            (loginForm.get('password')?.touched || login.submitted)">
                    Password field is mandatory!
                </div>
            </div>

            <div class="form-group d-grid mt-4 mx-auto">
                <button class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
            </div>

            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="login.submitted && isLoginFailed">
                    Login failed: {{ errorMessage }}
                </div>
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
            Logged in as {{ roles }}.
        </div>

    </div>
</div>