<div id="register" class="row pt-4 justify-content-center">
    <div class="col-6">
        <form #register="ngForm" [formGroup]="registerForm" *ngIf="!isSuccessful" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="username">Username</label>
                <input 
                    type="text"
                    name="username"
                    class="form-control"
                    formControlName="username"
                    required />
                <div class="alert alert-danger"
                     *ngIf="(registerForm.get('username')?.errors?.required  || 
                             registerForm.get('username')?.errors?.minlength ||
                             registerForm.get('username')?.errors?.maxlength) &&
                            (registerForm.get('username')?.touched || register.submitted)">
                    Please inform a username (4 to 40 characters)
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="email">Email</label>
                <input 
                    type="email"
                    name="email"
                    class="form-control"
                    formControlName="email"
                    required />
                <div class="alert alert-danger"
                     *ngIf="(registerForm.get('email')?.errors?.required  || 
                             registerForm.get('email')?.errors?.email) &&
                            (registerForm.get('email')?.touched || register.submitted)">
                    Please inform a valid e-mail
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input 
                    type="password"
                    name="password"
                    class="form-control"
                    formControlName="password"
                    required />
                <div class="alert alert-danger"
                     *ngIf="(registerForm.get('password')?.errors?.required  || 
                             registerForm.get('password')?.errors?.minlength) &&
                            (registerForm.get('password')?.touched || register.submitted)">
                    Please inform a password (minimum 6 characters)
                </div>
            </div>

            <div class="form-group d-grid mt-4 mx-auto">
                <button class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Sign Up</button>
            </div>

            <div class="alert alert-warning" *ngIf="register.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
        </div>

    </div>
</div>